	
	
.header {
width: 100%;
/* margin-left: 10%; */
border: solid 1px;
height: 70px;
/* background-color: #A7A7A7; */
color: white;
top: 0;
left: 0px;
position: fixed;
z-index: 10000;
background: #477ea3;
background: -moz-linear-gradient(top, #477ea3 0%, #1e5799 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#477ea3), color-stop(100%,#1e5799));
background: -webkit-linear-gradient(top, #477ea3 0%,#1e5799 100%);
background: -o-linear-gradient(top, #477ea3 0%,#1e5799 100%);
background: -ms-linear-gradient(top, #477ea3 0%,#1e5799 100%);
background: linear-gradient(to bottom, #477ea3 0%,#1e5799 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#477ea3', endColorstr='#1e5799',GradientType=0 );
font-family: sans-serif;
}
	.web_name1
	{
	    /* height: 35px; */
		
	    float: left;

		
	    line-height:35px;
		
	    font-size:20px;
		
	    margin-left:20px;
	
	    line-height: 72px;
}
	.under_name
	{
		/* height: 35px; */
		float:left;
	
	}
	.web_name2
	{
		margin-left:20px;
		height: 35px;
		float: left;
		width:20%;
		line-height:35px;
		float:left;
		font-size:20px;
	}
	.navigation_box
	{
		width: 80%;
		margin-left:20%;
	}
	.navigate_buttons
	{
		float:left;
		width: 60px;
		height:35px;
		line-height: 35px;
		margin-right: 10px;
		text-align: center;
		font-size: 20px;
	}
	.navig_dividors
	{
		height: 35px;
		width:20px;
		line-height:35px;
		text-align:center;
		font-size: 20px;
		float:left;
		font-weight:bold;
	}
.box_size {
    height: 350px;
    width: 56%;
    border-radius: 3px;
    margin-top: 30px;
    margin: auto;
    min-width: 747px;
}

nav.mainNav ul {
    list-style: none;
    float: left;
    /* height: 72px; */
    margin: 0;
    padding: 0;
    /* display: inline; */
}
nav.mainNav ul li {
    /* display: inline; */
    /* margin: 0; */
    /* padding: 0px; */
    /* position: relative; */
    /* top: 20px; */
    /* margin-top: 10px; */
    /* height: 24px; */    
    /* line-height: 69px; */
    float: left;
}
nav.mainNav ul li a {
    color: #fff;
    background: #000;
    /* height: 70px; */
    padding-left: 30px;
    padding-right: 30px;
    line-height: 70px;
    display: inline-block;
    text-decoration: none;
    background: #477ea3;  background: -moz-linear-gradient(top, #477ea3 0%, #1e5799 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#477ea3), color-stop(100%,#1e5799));  background: -webkit-linear-gradient(top, #477ea3 0%,#1e5799 100%);  background: -o-linear-gradient(top, #477ea3 0%,#1e5799 100%);  background: -ms-linear-gradient(top, #477ea3 0%,#1e5799 100%);  background: linear-gradient(to bottom, #477ea3 0%,#1e5799 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#477ea3', endColorstr='#1e5799',GradientType=0 );
    border-right: 1px solid #1E5D66;
    -webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */      
    transition: background 1s;
}
a {}
nav.mainNav ul li a:hover {
    background: #477CAD;
}
	.landscape
	{
		width: 100%;
		height:250px;
	    border-radius: 3px;
		margin-bottom:25px;
		float:left;
	}
	.landscape_tiny_box
	{
		width:24%;
		background-color:#2fdf20;
		height:70px;
		float:left;
		border-radius: 3px;
		line-height:70px;
		text-align:center;
	}
	.tiny_separator
	{
		width:9px; background-color: white;height: 70px; float: left;
		border-radius: 3px;
	}
	.landscape_header
	{
		
		text-align:center;
		line-height:35px;
		background-color:#8f9897;
		border-radius: 3px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	hr
	{
		width: 25%;
	}
	.pics_box
	{
		width:100%;
		height:215px;
		margin-top:30px;
		border-radius: 3px;
	}
	.pic_box
	{
		width:24%;
		background-color:#2fdf20;
		height:170px;
		float:left;
		border-radius: 3px;
	}
	.for_pic
	{
		height:170px;
	}
	.pic_img
	{
		width:100%;
		height:170px;
		float:left;
	}
	.container {
		width: 1000px;
    margin-top: 73px;
}
.product_container{
	background: #DCDBDB;
	padding: 0;
	width: 235px;
	margin-right: 20px;
	text-align: center;
	height: 300px;
	box-shadow: 0px 0px 3px #887F7F;

}

#categories .product_container img{

	width: 235px;
	height: 221px;
	

}
#categories .buttons_p {
margin-top: 14px;
}
#categories .product-name {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
height: 17px;
margin-top: 5px;
font-size: 15px;
font-weight: bold;
}
.btnnext , .btnprev{
	font-size: 29px;
	cursor: pointer;
}


#latest_products .product_container{
	background: #DCDBDB;
	padding: 0;
	width: 184px;
	margin-right: 20px;
	text-align: center;
	height: 250px;
	box-shadow: 0px 0px 3px #887F7F;

}

#latest_products .product_container img{

	width: 184px;
	

}

.loader {
 
width: 30px;
margin: auto;
margin-left: 50%;
left: -15;
position: relative;
}



.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.spinner{
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}